<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employee Management System</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body class="bg-light text-center">
    <div class="container mt-5">
    	<h1>Home Page</h1>
        <h3>Welcome to Employee Management System</h3>
        <p>
            <a href="/login" class="btn btn-primary mt-3">Login</a>
            <a href="/register" class="btn btn-success mt-3">Register</a>
        </p>
    </div>
</body>
</html>
